body {
  background-color: gainsboro;
  font-family: system-ui, sans-serif;
  margin: 0;
  text-align: center;
}
h1 {
  color: rgb(223, 29, 61);
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  text-align: center;
  margin: 20px auto;
}
.sqr {
  width: 3.5%;
  aspect-ratio: 1/1;
  border: 0.1px solid rgb(238, 82, 108);
  font-size: 64px;
  text-align: center;
}
